header {
    width: 100%;
    height: 100px;
    background-color: rgb(225, 223, 223);
}

div#img {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    display: inline;
    float: left;
}

div#gps {
    margin-top: 20px;
    margin-left: 30px;
    width: 50px;
    height: 40px;
    display: inline;
    float: left;
}

div#adress {
    margin-top: 30px;
    margin-left: 30px;
    width: 250px;
    height: 40px;
    display: inline;
    float: left;
}

div#contact {
    margin-left: 20%;
    width: 50%;
    height: 40px;
    position: fixed;
    display: inline;
    float: left;
}

div#lang {
    text-align: right;
    margin-top: 30px;
    margin-left: 30%;
    width: 20px;
    height: 30px;
    display: inline;
    float: left;
}

div#lang2 {
    text-align: right;
    margin-top: 30px;
    margin-left: 30px;
    width: 20px;
    height: 30px;
    display: inline;
    float: left;
}

div#find {
    margin-top: 30px;
    margin-left: 30px;
    width: 20px;
    height: 30px;
    display: inline;
    float: left;
}

div#phone {
    margin-top: 30px;
    margin-left: 30px;
    width: 20px;
    height: 30px;
    display: inline;
    float: left;
}

div#txtphone {
    margin-top: 30px;
    margin-left: 30px;
    width: 120px;
    height: 30px;
    display: inline;
    float: left;
}

div#service {
    margin-top: 30px;
    margin-left: 30px;
    width: 100px;
    height: 30px;
    display: inline;
    float: left;
}

div#ordercall {
    margin-top: 30px;
    margin-left: 30px;
    width: 120px;
    height: 30px;
    display: inline;
    float: left;
}

div#topmenu {
    width: 100%;
    height: 50px;
    background-color: rgb(207, 206, 206);
}

div#slide {
    width: 100%;
    height: 60%;
}
